<h1>
    Inline Styles
</h1>

<h2>Pros</h2>

<ul>
    <li><a>Not Applicable</a></li>
</ul>

<h2>Cons</h2>

<ul>
    <li><a>maintenance difficult</a></li>
    <li><a>reuse impossible</a></li>
    <li><a>consistency across your application difficult</a></li>
    <li><a>poor performance / no optimization / no caching of styles</a></li>
    <li><a>impossible to style pseudo-elements and -classes with inline styles :hover, :before media queries, etc..</a></li>
</ul>

<h2>Supporting Articles</h2>
<ul>
    <li><a href="https://stackoverflow.com/questions/18287445/why-are-inline-styles-discouraged" target="_blank">Stackoverflow Answer</a></li>
</ul>


